.top-banner{
    background: orange;
    /* padding: 20px */
}
.top-banner img,h4,label{
    float: left;
    font-size: 15px;
    color:white;
    margin-top: 8px;
}
.navbar{
    box-shadow:2px 2px 2px gray
}
.carousel-inner .carousel-item h1{
    color:yellow;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
}
.carousel-inner .carousel-item p{
    text-shadow: 2px 2px 2px black;
}

/* ----------------------------- about ---------------------- */
.about{
    margin-top: 50px;
}
.about .content h1{
    color: black;
    font-weight:700;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;

}
.about .content{
    padding:40px; 
}
.about .image{
    height: 400px;
    width: 20%;
}
.about p{
    font-weight: 600;
}
.about .image{background-image: url('../images/img.png');height: 400px;background-repeat: no-repeat;position: absolute;margin-left:70%;margin-top:-10%;}
/* --------------------------- service ------------------------ */
.back-black{
    background: orange;
}
.service .wrapper{
    padding:40px;
    color:black;
}
.service .wrapper h4{
    font-size: 20px;
    color:black;
}
.service .wrapper h4{
    text-decoration: underline;
    float: none;
}
.service .wrapper p{
    padding:10px;
    color:black; 
    font-size: 12px;
}
.service .img{
    background-image: url('../images/about.jpg');background-position: center;background-size: 200%;
}
/* ------------------------------- gallery ------------------------ */
.gallery{
    padding: 80px;
}
.gallery h1{
    color: black;
    font-weight:700;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
.card-title{
    position: absolute;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .card-title{
      position: absolute;
      background: orange !important;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
  }
  .card:hover .card-title{
      bottom: 20px;
      height: 100%;
  }
  .card-title{
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      text-align: center;
  }
  .card-title p{
      font-size: 11px;
  }
  .gallery .card-body{
    flex: none!important;
    padding: .5px!important;
  }


  /* ----------------------------- our team -------------- */
  .our-team{
    border-top: solid 15px orange;
    border-bottom: solid 15px orange;
    padding: 50px;
}
.our-team h1{
    color: black;
    font-weight:700;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
.our-team{
    background: yellow !important;
}
/* ------------------------- contact  ------------------ */
.contact{
    padding: 80px;
}
.contact h1{
    color: black;
    font-weight:700;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}

.contact label{
    color: black;
}

.contact input,textarea{
    border: solid 1px #858788 !important;
    color:gray;
}
/* ------------------------- footer -------------------- */
footer{
    background: black;
    color:white
}
footer img{
    height: 20px;
    width: 25px;
}
footer a img{
    border: solid .5px white;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    padding: 10px;
}
footer a img:hover{
    border: solid .5px orange;
    background: orange;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    padding: 10px;
}






@media screen and (max-width: 600px) and (min-width:100px) {
    
    .our-team{
        padding: 0px;
        margin-top: 20px;
    }
    .about .image {
        background-image: url(../images/img.png);
    height: 480px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 50%;
    margin-top: -10%;
    width: 160px;
    
    }
    .banner .carousel-item img{
        height: 230px;;
    }
    .our-team{
        padding:40px;
    }
    .carousel-inner .carousel-item p{
        display: none !important;
    }
    .contact{
        padding: 60px;
    }
 }

 /* ==============================================================================
 ========================================== about ================================
 ================================================================================= */
 .about-page{
     background: orange;
     height: 50vh;
 }
 .about-page .content h1{
    color: black;
    font-weight:700;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
 .about-page .black{
     padding: 40px;
  background:black;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: 140px;
  color:white;
  font-weight: 100;
 }
 
@media screen and (max-width: 600px) and (min-width:100px) {
    .about-page{
        background: orange;
        height: 80vh;;
    }
 .about-page .black{
 padding: 40px;
 background:black;
 position: absolute;
 width: 100%;
 text-align: center;
 margin-left:40px;
 width: 80%;
 color:white;
 font-weight: 100;
}
.contact-p {
    padding: 20px;
}
.contact-p .page {
    box-shadow: 2px 2px 10px 
    gray;
    padding: -20px;
    background-image: url(../images/c.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
}
}


.contact-p{
    padding: 100px;
}
.contact-p .page{
    box-shadow: 2px 2px 10px gray;
    padding: 100px;
    background-image: url(../images/c.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.contact-p .page .form-group label {
    color:black;
    
}
/* ==============================================================================
========================================== services ================================
================================================================================= */
.service-p .content h1{
    color: black;
    font-weight:700;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
}
.box-shadow{
    box-shadow:2px 2px 10px gray;
    border-radius: 10px;
    padding: 20px;
    transition: 1.3s;
    margin-top: 20px;
}
.box-shadow h3{
    transition: 0.3s;
}
.box-shadow:hover {
    box-shadow:2px 2px 10px 5px orange;
}
.box-shadow:hover h3{
    text-decoration: underline
}
.service-p p{
    font-size: 13px;
}



 
@media screen and (max-width: 600px) and (min-width:100px) {
.contact-p {
    padding: 20px;
}
.contact-p .page {
    box-shadow: 2px 2px 10px 
    gray;
    padding: 0px;
    background-image: url(../images/c.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
}
}
/* ==============================================================================
========================================== gallery ================================
================================================================================= */
 .gallery_page_section label{
    color:gray;
}
.gallery_page_section ul {
    display: grid;
    background-color: #2196F3;
    grid-template-columns: 20% auto;
}
.gallery_page_section .gallry-box{
    margin-top: 20px;
}
.card:hover .text-1 {
    bottom: 0;
    height: 100%;
    z-index: 1020;
  width: 100%;
  background-color: orange;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  text-align: center;
    
  }
   .text-1{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}